<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Sign Out"/>
    </form>
    <div>
        <form th:method="POST" th:action="@{/main}">
            <input type="text" name="text" placeholder="Type message"/>
            <input type="text" name="tag" placeholder="tag">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Messages list</div>
    <form th:method="POST" th:action="@{/filter}">
        <input type="text" name="tag">
        <button type="submit">Find</button>
    </form>
    <div th:each="message : ${messages}">
        <b th:utext="${message.getId()}">id</b>
        <span th:utext="${message.getText()}">text</span>
        <i th:utext="${message.getTag()}">tag</i>
        <a th:href="@{/{id}/delete(id=${message.getId()})}">Delete</a>
    </div>
</body>
</html>