<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Registration page </title>
  </head>
  <body>
    <div style="color: red" th:if="${message}">
      <p th:utext="${message}"/>
    </div>
    <p>Add new user</p>
    <form th:method="POST" th:action="@{/registration}">
      <div><label> User name : <input type="text" name="username"/> </label></div>
      <div><label> Password: <input type="password" name="password"/> </label></div>
      <div><input type="submit" value="Sign Up"/></div>
    </form>
    </br>
    <a th:href="@{/main}">Back to main</a>
  </body>
</html>